:root {
    --bg: #e2f3e3;
    --bgAccent: #89cf8b;
    --bg2: #c4e7c5;
    --bg3: #f3faf4;
    --textColor: #327b35;
    --textColorDark: #327b35;
    --navSize: 60px;
    --border: 5px solid #327b35;
    --speed: 300ms;
  }

  /* body {
    overflow: hidden;
  } */

.tripMain {
    background-color: var(--bg3);
    display: flex;
    height: max-content;
    border-bottom: 1px solid var(--bgAccent);
}

.overviewMap {
    background-image: url(./assets/Images/fakeMap.png);
    background-size: 100% 100%;
    object-fit: cover;
    width: 40vw;
    border-top: 1px solid var(--bgAccent);
}

.menuMain {
    width: 60vw;
    height: max-content;
    border-top: 1px solid var(--bgAccent);
    display: flex;
}

.shadowElement {
    box-shadow: inset 5px 0 15px rgba(0,0,0,0.3);
}

.menuSideBar  {
    height: 70vh;
    position: relative;
    width: 9vw;
    padding: 2vw;
    padding-top: 5vw;
    border-right: 1px solid var(--bgAccent);
}

.menuSideBarItem {
    position: relative;
}

.menuSideBarIcon {
    filter: invert(37%) sepia(29%) saturate(966%) hue-rotate(73deg) brightness(99%) contrast(89%);
    height: 1vw;
    position: absolute;
    left: -1.5vw;
}

.buttonAI {
    z-index: 2;
    position: absolute;
    white-space: nowrap;
    top: 1vw;
    margin: 0;
    font-size: 1vw;
    padding: 1vw 2vw;
    border-radius: 0 20px 20px 0;
    margin-left: -2vw;
}

.menuSideBarItem h1 {
    font-size: 1.2vw;
}

.menuSideBarItem p {
    font-size: 1vw;
    padding-top: .5vw;
    padding-bottom: .5vw;
}

.menuSideBarIconButton {
    display: flex;
    align-items: center;
}

.menuMainInfoImage {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: 50% 10%;
}

.menuMainInfoImageContainer {
    position: relative;
    margin-bottom: -1vh;
}

.menuMainInfoImageCard {
    position: absolute;
    width: 70%;
    height: 30%;
    top: 60%;
    left: 10%;
    background-color: var(--bg3);
    border-radius: 10px;
    border: none;
    box-shadow:  5px 5px 15px rgba(0,0,0,0.3);
    padding: 2vw;
}

.menuMainInfoImageCard h1 {
    margin: 0;
    position: absolute;
    top: 1vw;
    padding: 0.5vw;
    border-radius: 10px;
}

.menuMainInfoImageCard p {
    margin: 0;
    position: absolute;
    bottom: 1vw;
}

.menuMainInfo {
    width: 100%;
    overflow: auto;
    height: calc(70vh + 7vw);
}

.menuMainInfoItemShaded {
    background-color: var(--bg2);
    padding: 4vw;
}


.menuMainOverviewItem {
    width: 100%;
    position: relative;
}

.menuMainOverviewIcon {
    filter: invert(37%) sepia(29%) saturate(966%) hue-rotate(73deg) brightness(99%) contrast(89%);
    height: 2vw;
    padding: 0.5vw;
    position: absolute;
    left: -3vw;
}


.menuMainInfoItem {
    padding: 4vw;
    display: flex;
}

.extraMargin {
    margin-bottom: 10vh;
}

/* .tripModalForm {
    
} */

.addNewAccomodationsButton {
    margin: 1vw;
    margin-top: 3vw;
}

.createNewTripAccomodation {
    overflow: auto;
    position: fixed;
    z-index: 6;
    background-color: var(--bg2);
    opacity: 100%;
    border: solid 5px var(--textColor);
    border-radius: 20px;
    width: 50vw;
    height: min-content;
    max-height: 80vh;
    left: 25vw;
    top: 10vh;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
}

.airbnbResults {
    width: min-content;
    margin-left: auto;
    margin-right: auto;
}

.airbnbListingSubText {
    padding: 0.5vw;
}

.airbnbListingContainer {
    display: flex;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.airbnbListingText {
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.airbnbListingImage {
    border: solid 5px var(--textColorDark);
    border-radius: 50%;
    object-fit: cover;
    width: 15vw;
    height: 15vw;
}

.airbnbListingButton {
    margin: 0;
    width: 50%;
}